@font-face {
  font-display: swap;
  font-family: "starjedi";
  src: url("assets/starjedi.woff2") format("woff2"),
       url("assets/starjedi.woff") format("woff");
}

/* Make the pixi canvas full screen */
* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background: #071335;
}